<mat-card appearance="outlined" animate.enter="enter-animation" class="mb-10" cdkDrag>
	<mat-card-content>
		<div fxLayout="row" fxLayout.xs="column" fxLayoutGap.sm="10px">
			<mat-icon fontIcon="drag_indicator" class="todo-item-drag-icon" cdkDragHandle></mat-icon>
			<div fxFlex="30" class="todo-item-title">
				<h3>{{ todo()?.title }}</h3>
				@if (todo()?.description) {
					<p class="fs-12 mt-5 ellipsis" [title]="todo()?.description">{{ todo()?.description }}</p>
				}
			</div>
			<div fxFlex="60">
				<div fxLayout="row" fxLayoutGap="10px" fxLayout.sm="column" fxLayout.xs="column">
					<div fxFlex="32">
						@let status = getStatus();
						
						<p>Status: <span class="status-{{ status.color }}">{{ status.label }}</span></p>
					</div>
					<div fxFlex="32">
						<p>Created: {{ todo()?.createdAt | date:'dd/MM/yyyy' }}</p>
					</div>
				</div>
				<div fxLayout="row" fxLayoutGap="10px" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap.xs="0">
					<div fxFlex="32">
						<p class="fs-12 mt-5">Due Date: {{ (todo()?.dueDate | date:'dd/MM/yyyy') || 'N/A' }}</p>
					</div>
					<div fxFlex="32">
						<p class="fs-12 mt-5">Start Date: {{ (todo()?.startDate | date:'dd/MM/yyyy') || 'N/A' }}</p>
					</div>
					<div fxFlex="32">
						<p class="fs-12 mt-5">End Date: {{ (todo()?.endDate | date:'dd/MM/yyyy') || 'N/A' }}</p>
					</div>
				</div>
			</div>
			<div fxFlex="10" fxLayoutAlign="end center" class="todo-item-menu">
				<button matIconButton [matMenuTriggerFor]="menu">
					<mat-icon fontIcon="menu"></mat-icon>
				</button>
			</div>
		</div>
	</mat-card-content>
	<div class="drag-placeholder" *cdkDragPlaceholder></div>
</mat-card>
<mat-menu #menu="matMenu">
	@if (!todo()?.completed && !isTodoFailed()) {
		<button mat-menu-item (click)="openEditDialog.emit()">
			<mat-icon fontIcon="edit"></mat-icon>
			<span>Edit</span>
		</button>
		<button mat-menu-item (click)="markAsComplete()">
			<mat-icon fontIcon="check"></mat-icon>
			<span>Mark as Complete</span>
		</button>
		<button mat-menu-item (click)="markAsFailed()">
			<mat-icon fontIcon="close"></mat-icon>
			<span>Mark as Failed</span>
		</button>
	}
	<button mat-menu-item (click)="openDeleteConfirmationDialog()">
		<mat-icon fontIcon="delete"></mat-icon>
		<span>Delete</span>
	</button>
</mat-menu>