.status-green {
	color: green;
}

.status-red {
	color: red;
}

.status-orange {
	color: orange;
}

button.mat-mdc-menu-item {
	min-width: 180px;
}

@media (max-width: 599px) {
	.todo-item-title {
		margin-bottom: 15px;
	}

	.todo-item-menu {
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
		max-height: 10%;
	}
}