* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: #38403f;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #00dddd;
    border-radius: 5px;
    min-height: 50px;
}
/* End of scroll bar */

html,
body {
	height: 100%;
}

body {
	color-scheme: dark;
	background-color: var(--mat-sys-surface);
	color: var(--mat-sys-on-surface);
	font: var(--mat-sys-body-medium);
	font-family: Lato, Roboto, "Helvetica Neue", sans-serif;
	margin: 0;
}

.container {
	padding: 20px;
}

.mat-mdc-form-field {
	width: 100%;
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.enter-animation {
	animation: slide-fade 1s;
}

@keyframes slide-fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}